@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root {
    --radius: 0.5rem;
    font-size: 12px;
  }
  body{
    @apply font-primary bg-primary text-white leading-loose;
  }
  h1{
    @apply text-3xl my-3 md:text-6xl md:my-6
  }
  h2{
    @apply text-xl my-1 md:text-3xl md:my-3
  }
  .text-outline{
    -webkit-text-stroke: 1px white;
  }
  .text-outline-hover{
    -webkit-text-stroke: 1px #00ff99;
  }
}
@media (min-width: 768px) { :root{font-size: 12px;} } 
@media (min-width: 1024px) { :root{font-size: 14px;} }
@media (min-width: 1280px) { :root{font-size: 16px;} }
@media (min-width: 1536px) { :root{font-size: 20px;} }  

